@model DAL.Entities.Project

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialNoNavigation.No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurNoNavigation.No)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.No">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
