@model DAL.Entities.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RolNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RolNoNavigation.No)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.No">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
