@model IEnumerable<DAL.Entities.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolNoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolNoNavigation.No)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.No">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.No">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.No">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
